<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 상세</title>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/bbs/detailForm.css}">
  <script type="module" th:src="@{/js/common.js}" defer></script>
  <script type="module" th:src="@{/js/bbs/detailForm.js}" defer></script>
</head>

<body>
  <div class="userInfo" th:if="${session.loginOkMember != null}">
    <h3 th:if="${session.loginOkMember.gubun == 'general'}" id="generalInfo">회원정보</h3>
    <h3 th:if="${session.loginOkMember.gubun == 'admin'}" id="adminInfo">관리자 정보</h3>
    <p><strong>이메일: </strong><span th:text="${session.loginOkMember.email}"></span></p>
    <p><strong>별칭: </strong><span id="userNickname" th:text="${session.loginOkMember.nickname}"></span></p>
    <p><a href="/logout">로그아웃</a></p>
  </div>
  <div class="container">
    <div class="bbs-container">
      <h3>게시글 상세</h3>
      <form action="" method="post">
        <div class="wrap">
          <div class="form-group">
            <label for="bbsId">게시글 번호</label>
            <input type="text" name="bbsId" id="bbsId" readonly th:value="${detailForm.bbsId}">
          </div>
          <div class="form-group">
            <label for="title">제목</label>
            <input type="text" name="title" id="title" readonly th:value="${detailForm.title}">
          </div>
          <div class="form-group">
            <label for="contents">내용</label>
            <textarea name="contents" readonly th:text="${detailForm.contents}"></textarea>
          </div>
          <div class="form-group">
            <label for="writer">작성자</label>
            <input type="text" name="writer" readonly th:value="${detailForm.writer}">
          </div>
          <div class="dateWrap">
            <div class="form-group">
              <label for="cdate" class="date">작성 날짜</label>
              <input type="text" name="cdate" readonly th:value="${detailForm.cdate}">
            </div>
            <div class="form-group">
              <label for="udate" class="date">수정 날짜</label>
              <input type="text" name="udate" readonly th:value="${detailForm.udate}">
            </div>
          </div>
          <div class="button">
            <!-- 비 로그인 상태일시 수정버튼이 보이지 않음-->
            <button id="btnUpdate" type="button"
              th:if="${session.loginOkMember != null && (session.loginOkMember.gubun.equals('admin') || session.loginOkMember.nickname.equals(detailForm.writer))}">수정
            </button>
            <!-- 비 로그인 상태일시 삭제버튼이 보이지 않음-->
            <button id="btnDelete" type="button"
              th:if="${session.loginOkMember != null && (session.loginOkMember.gubun.equals('admin') || session.loginOkMember.nickname.equals(detailForm.writer))}">삭제
            </button>
            <button id="btnListAll" type="button">목록</button>
          </div>
        </div>
      </form>
    </div>
    <div class="reply-container">
      <div class="reply-title">
        <h3 id="reply-header">댓글</h3>
      </div>
      <div id="replyWrap">
        <!-- 댓글 목록이 여기에 들어옵니다. -->
      </div>
      <div id="reply_pagenation">
        <!-- 여기에 댓글페이징이 들어옵니다.-->
      </div>
      <div class="replyAdd-title">
        <h3 id="replyAdd-header">댓글 작성</h3>  <input type="text" name="writer" readonly
        th:value="${session.loginOkMember != null ? session.loginOkMember.nickname : ''}" class="nickname-input">  <!-- 비로그인 상태일 시 작성자 필드 빈값으로 설정 -->
      </div>
      <div class="comment">
        <!-- 비로그인 상태일시 댓글 입력란 비활성화 -->
        <textarea cols="30" rows="3" name="" id="comment" placeholder="댓글을 입력하세요."
          th:disabled="${session.loginOkMember == null}"></textarea>
      </div>
      <div class="errorWrap">
        <div id="error-message" class="errmsg" style="display: none;"></div>
      </div>
      <div class="btnAdd">
        <!-- 비 로그인 상태일시 댓글 등록 버튼 비활성화 -->
        <button id="btnAdd" th:disabled="${session.loginOkMember == null}">등록</button>
      </div>
    </div>
    <!--비 로그인시에 로그인 안내 메시지 및 로그인 링크 생성 -->
    <div th:if="${session.loginOkMember == null}">
      <p>로그인 후 댓글을 작성할 수 있습니다. <a href="/login">로그인하기</a></p>
    </div>
  </div>
  <script type="module">
import { ajax, PaginationUI } from '/js/common.js';

  </script>
</body>

</html>