<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글목록</title>
  <link rel="stylesheet" th:href="@{/css/bbs/list.css}">
  <script th:src="@{/js/bbs/list.js}" defer></script>
</head>

<body>
<div class="userInfo" th:if="${session.loginOkMember != null}">
  <h3 th:if="${session.loginOkMember.gubun == 'general'}" id="generalInfo">회원정보</h3>
  <h3 th:if="${session.loginOkMember.gubun == 'admin'}" id="adminInfo">관리자 정보</h3>
  <p><strong>이메일: </strong><span th:text="${session.loginOkMember.email}"></span></p>
  <p><strong>별칭: </strong><span id="userNickname" th:text="${session.loginOkMember.nickname}"></span></p>
  <p><a href="/logout">로그아웃</a></p>
</div>
<div class="nonLogin" th:if="${session.loginOkMember == null}">
  <h3>비로그인 상태입니다.</h3>
  <span><a href="/members/join">회원가입</a></span><span><a href="/login">로그인</a></span>
</div>
<div class="container">
  <h3>게시글목록</h3>
  <form action="/bbs/del" method="post" id="frm">
    <table>
      <thead>
      <tr class="index">
        <th><input type="checkbox" id="selectAll"><label for="selectAll">전체 선택</label></th>
        <th>게시글번호</th>
        <th>작성자</th>
        <th class="title">제목</th>
        <th>작성날짜</th>
        <th>수정날짜</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="bbs : ${all}">
        <td><input type="checkbox" name="bbsIds" id="" th:value="${bbs.bbsId}"></td>
        <td th:text="${bbs.bbsId}">1</td>
        <td class="writer" th:text="${bbs.writer}">작성자</td>
        <td class="title">
          <a th:href="@{/bbs/{id}(id=${bbs.bbsId})}" th:text="${bbs.title}">제목</a>
        </td>
        <td th:text="${bbs.cdate}">작성 날짜</td>
        <td th:text="${bbs.udate}">수정 날짜</td>
      </tr>
      </tbody>
    </table>
  </form>
  <div class="buttonWrap">
    <button id="btnHome">초기화면</button>
    <button id="btnDels" th:if="${!session.isEmpty()}">삭제</button>
    <button class="btnAdd" id="btnAdd" th:if="${!session.isEmpty()}">게시글작성</button>
  </div>
</div>
</body>

</html>